<div class="flex justify-content-center">
  @if (firewallList$ | async; as firewall) {
    <div style="width: 100%; display: flex; justify-content: center;" class="my-3">
      <p-table
        [value]="firewall"
        style="width: 100%; max-width: 45rem;"
      >
        <ng-template #header>
          <tr>
            <th>ID</th>
            <th>Firewall Name</th>
            <th style="width: 2rem"></th>
          </tr>
        </ng-template>
        <ng-template #body let-firewall>
          <tr>
            <td>
              <p-badge
                [value]="firewall.id"
                badgeSize="large"
                severity="success"
              />
            </td>
            <td><p-chip [label]="firewall.name"/></td>
            <td>
              <p-button icon="pi pi-search" severity="secondary" rounded />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>

<app-firewall-form></app-firewall-form>
