<div
  class="flex justify-content-center mt-3 md:mt-0 bg-primary-50 gap-4 p-4 w-full flex-grow md:flex-column md:h-full md:w-15rem md:justify-content-start"
>
  <p-button
    class="align-items-center"
    icon="pi pi-shield"
    label="Firewalls"
    size="large"
    routerLink="/"
  ></p-button>
  <p-button
    icon="pi pi-lock"
    label="Policies"
    size="large"
    routerLink="policies"
  ></p-button>
  <p-button
    icon="pi pi-cog"
    label="Rules"
    size="large"
    routerLink="rules"
  ></p-button>
  <p-button icon="pi pi-file" label="API Docs" size="large"></p-button>
</div>
