<div class="flex justify-content-center gap-4 mt-5 flex-wrap md:flex-column">
  <p-button
    icon="pi pi-shield"
    label="Firewalls"
    size="large"
    routerLink="/"
  ></p-button>
  <p-button
    icon="pi pi-lock"
    label="Policies"
    size="large"
    routerLink="policies"
  ></p-button>
  <p-button
    icon="pi pi-cog"
    label="Rules"
    size="large"
    routerLink="rules"
  ></p-button>
  <a href="http://localhost:80/apidocs" target="_blank">
    <p-button icon="pi pi-file" label="API Docs" size="large"></p-button>
  </a>
</div>

