<div class="flex flex-wrap justify-content-center gap-3 mt-5">
  <button
    pButton
    icon="pi pi-shield"
    routerLink="/firewalls"
    routerLinkActive="p-button-outlined p-button-primary"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Firewalls
  </button>

  <button
    pButton
    icon="pi pi-lock"
    routerLink="/policies"
    routerLinkActive="p-button-outlined p-button-primary"
  >
    Policies
  </button>

  <button
    pButton
    icon="pi pi-cog"
    routerLink="/rules"
    routerLinkActive="p-button-outlined p-button-primary"
  >
    Rules
  </button>

  <a href="http://localhost:80/apidocs" target="_blank">
    <button pButton icon="pi pi-file">API Docs</button>
  </a>
</div>
