<p-dialog
  header="Ajouter un firewall"
  [(visible)]="isVisibleDialog"
  (onHide)="closeDialog()"
  [style]="{ width: '25rem' }"
>
  <div class="flex items-center gap-4 mb-4">
    <form
      [formGroup]="firewallForm"
      (ngSubmit)="createFirewall()"
      class="flex-grow-1"
    >
      <input
        pInputText
        placeholder="Nom du Firewall"
        formControlName="name"
        style="width: 100%"
      />
      @if (
        firewallForm.controls.name.invalid && (firewallForm.controls.name.touched || firewallForm.controls.name.dirty)
      ) {
        @if (firewallForm.controls.name.hasError("required")) {
          <small class="text-red-500">Le nom est obligatoire</small>
        }

        @if (firewallForm.controls.name.hasError("minlength")) {
          <small class="text-red-500">Minimum 3 lettres</small>
        }
      }
      <div class="flex justify-content-end gap-2 mt-2">
        <p-button label="Annuler" severity="secondary" (click)="closeDialog()" />
        <p-button label="Créer" type="submit"/>
      </div>
    </form>
  </div>
</p-dialog>
