<p-dialog
  header="Ajouter un firewall"
  [(visible)]="visible"
  (onHide)="closeDialog()"
  [style]="{ width: '25rem' }"
>
  <div class="flex items-center gap-4 mb-4">
    <form
      [formGroup]="firewallForm"
      (ngSubmit)="createFirewall()"
      class="flex-grow-1"
    >
      <input
        pInputText
        placeholder="Nom du Firewall"
        formControlName="name"
        style="width: 100%"
      />
      @if (
        firewallForm.controls.name.invalid && firewallForm.controls.name.touched
      ) {
        @if (firewallForm.controls.name.hasError("required")) {
          <p-message severity="error" size="small" variant="simple"
            >Nom obligatoire</p-message
          >
        }

        @if (firewallForm.controls.name.hasError("minlength")) {
          <p-message severity="error" size="small" variant="simple"
            >Minimum 3 lettres</p-message
          >
        }
      }
      <div class="flex justify-content-end gap-2 mt-2">
        <p-button label="Annuler" severity="secondary" (click)="closeDialog()" />
        <button pButton type="submit" [disabled]="firewallForm.invalid">
          Créer
        </button>
      </div>
    </form>
  </div>
</p-dialog>
