@if (firewall$ | async; as firewall) {
  <div class="grid justify-content-center p-2">
    <div
      class="col-12 flex justify-content-between align-items-center mb-3"
      style="max-width: 60rem"
    >
      <h3 class="text-2xl font-bold">Détails du Firewall</h3>
      <p-button label="Modifier" [disabled]="true" class="p-button-outlined p-button-sm"></p-button>
    </div>

    <div
      class="col-12 flex flex-wrap justify-content-center sm:justify-content-between gap-3"
      style="max-width: 60rem"
    >
      <div
        class="col-12 sm:col-4 flex flex-column gap-1 justify-content-center align-items-center border-round p-3 max-w-12rem bg-primary-400"
      >
        <small class="font-bold text-center">Nom du firewall</small>
        <p class="text-lg font-semibold text-center">{{ firewall.name }}</p>
      </div>

      <div
        class="col-12 sm:col-4 flex flex-column gap-1 justify-content-center align-items-center border-round p-3 max-w-12rem bg-primary-400"
      >
        <small class="font-bold text-center">Total de politiques</small>
        <p class="text-3xl font-semibold text-center">{{ firewall.policies.length }}</p>
      </div>

      <div
        class="col-12 sm:col-4 flex flex-column gap-1 justify-content-center align-items-center border-round p-3 max-w-12rem bg-primary-400"
      >
        <small class="font-bold text-center">Total de règles</small>
        <p class="text-3xl font-semibold text-center">{{ firewall.totalRules }}</p>
      </div>
    </div>

    <div
      class="col-12"
      style="max-width: 60rem"
    >
      <h4 class="text-xl font-bold">Liste politiques</h4>
          @if (firewall.policies.length > 0) {
      <div class="mx-auto" style="width: 100%; max-width: 60rem">
        <p-table [value]="firewall.policies" style="width: 100%">
          <ng-template #header>
            <tr>
              <th>Policy ID</th>
              <th>Policy Name</th>
              <!-- <th>Firewall Id</th> -->
              <th>Rules number</th>
              <th style="width: 4rem">Actions</th>
            </tr>
          </ng-template>
          <ng-template #body let-policy>
            <tr>
              <td>
                <p-badge [value]="policy.id" badgeSize="large" />
              </td>
              <td>{{ policy.name }}</td>
              <!-- <td>
                {{policy.firewall_id}}
              </td> -->
              <td>{{policy.rules.length}}</td>
              <td class="flex gap-2">
                <p-button
                  icon="pi pi-search-plus"
                  severity="secondary"
                  rounded
                />
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  rounded
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    } @else {
      <div class="no-policys flex flex-column mt-6">
        <div class="no-policys-text mx-auto">
          <p class="text-2xl font-bold">Vous n'avez pas encore de politique</p>
        </div>

        <div class="mx-auto">
          <p-button
            label="Créer une nouvelle politique"
            class="align-items-center justify-content-center"
            severity="primary"
          />
        </div>
      </div>
    }
    </div>
  </div>
}